@page "{id:int}"
@model Meum.Pages.Product.DeleteProductModel
@{
}

<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete this: - @Model.Produkt.ProduktNavn</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Product/Products">No</a>
    </form>
</div>
